body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    font-size: 100%;
    color: #40514e;
}
h1{
    line-height:2; 
    font-size: 90px;
    color: #66bfbf;
    font-family:'Sacramento', cursive;
    margin: 50px auto 0 auto;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    padding-bottom: 10px;
}
h3{
    font-family:'Montserrat', sans-serif;
    color: #11999e;
}
.top-container{
    background-color:#e4f9f5 ;
    position: relative;
    padding-top: 100px;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 250px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.photo-1{
    width: 100px;
}
.photo-2{
    width: 100px;
    float: left;
    margin-right: 30px;
}
.photo-3{
    width: 100px;
    float: right;
    margin-left: 30px;
}
.photo-4{
    width: 100px;
    float: left;
    margin-left: 30px;
}    
.para{
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.get{
    font-size: 2em;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}
hr{
    border: dotted #e4f9f5 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.contact-meassage{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.76rem;
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .get-para{
    margin-bottom: 60px;
  }
                
                




                
                